@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,700|Montserrat');


//font-family:'Montserrat', sans-serif;
//
//font-family:'Asap', sans-serif;



body{
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
  font-weight: 400; //regular
  text-align: center;
}

h1{
  font-size: 90px;
}
h2{
  font-weight: 700; //bold
  font-size: 46px;
  text-transform: uppercase;
}
h3{
  font-weight: 500; //medium
  font-size: 30px;
  text-transform: uppercase;
}
.wrapper{
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  &>section:nth-of-type(odd){
    background-color: white;
  }
  &>section:nth-of-type(even){
    background-color: #f6f6f6;
  }
}
button{
  text-transform: uppercase;
}
.wrap{
  max-width: 1170px;
  margin: 0 auto;

}


header{
  background: url("../img/bg-element.png");
  -webkit-background-size: 100%;
  background-size: 100%;
  padding: 15px 0;
  & .wrap{
    display: flex;
    flex-flow: column nowrap;

    & nav{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    & menu{
      display: flex;
      & li{
        list-style: none;
        text-transform: uppercase;
        width: 90px;
        & a{
          text-decoration: none;
          color: #4d4d4d;
        }
        & a:hover{
          border-bottom: 3px solid rgba(77, 77, 77, 0.6);
          text-transform: none;
          padding-bottom: 5px;
        }
      }
      //& li:hover::after{
      //  display: flex;
      //  content: " ";
      //  border: 1px solid #4d4d4d;
      //
      //  width: 20px;
      //}
    }

    & .flexRowWrap:first-child{
      text-align: left;
    }
  }
}

#knowMore{

}
.flexRowWrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#services{
  & .wrap{
    & div{
      &>div{
        display: inline-flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: baseline;
        width: 386px;
      }
    }
  }
}

#skills{

}

#portfolio{

}

#testimonials{

}

#funFact{

}

footer{
  background: url("../img/contactbg.png");
}

//debugging
nav *{
  //border: 1px solid red;
  box-sizing:border-box;
}